@font-face {
    font-family: hobo;
    src: url(../fonts/hobostdmedium.ttf);
}
/* NAVIGATION BAR */
nav {
    background-color: #f09773;
    height: 100px;
}

div.logo {
    display: inline-block;
    padding: 25px;
}

div.navigation {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 16px;

}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    font-family: hobo;
    text-decoration: none;
    color: #f7f2d5;
    font-size: 25px;
    padding: 25px;
    margin-left: 25px;
}
/* SEARCH BAR */
.search {
    overflow: hidden;
    background-color: #f7f2d5;
}
